<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YOUTUBE Creator Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container">
            {channel_info}
        </div>

        <div class="container">
            <!-- 최근 동영상 조회 결과 -->
            <div class="video-cards" id="recent-videos">
                {last_video_cards}
            </div>
        </div>

        <div class="container">
            <div class="video-cards" id="popular-videos-container">
                {video_cards}
            </div>
        </div>
    
        <div class="bottom-bar">
            <ul>
                <li><a href="#channel-info" class="active">채널정보</a></li>
                <li><a href="#recent-videos">최근영상</a></li>
                <li><a href="#popular-videos-container">채널영상</a></li>
                <li>
                    <select class="sort-select" id="sortCriteria" onchange="handleSortChange()">
                        <option value="date">기본</option>
                        <option value="trand">최근 트렌드</option>
                        <option value="views">조회수순</option>
                        <option value="likes">좋아요순</option>
                        <option value="comments">댓글순</option>
                        <option value="is-shorts">Only Shorts</option>
                    </select>
                </li>
            </ul>
        </div>
        
        <div id="loading-spinner" style="display: none;">
            <div class="spinner"></div>
        </div>
        
        <div id="loading" style="display: none; text-align: center;">
            <p>Loading...</p>
        </div>
        
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>


