<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YOUTUBE Creator Statistics</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <div class="menu">
                <ul>
                    <li><a href="#channel-info" class="active">채널정보</a></li>
                    <li><a href="#recent-videos">최근영상</a></li>
                    <li><a href="#popular-videos-container">채널영상</a></li>
                </ul>
            </div>
        </header>
        
        <div class="container">
            <!-- 채널 정보 섹션 -->
            <div class="channel-info" id="channel-info">
                <h2>채널 정보</h2>
                <p>
                    <a id="channel-link" href="#" target="_blank">
                        <img id="channel-thumbnail" src="" alt="채널 썸네일" class="thumbnail">
                    </a>
                </p>
                <p>채널 이름: <strong id="channel-name"></strong></p>
                <p>구독자 수: <strong id="subscriber-count"></strong></p>
                <p>채널 설명: <strong id="channel-description"></strong></p>
                <p>전체 조회 수: <strong id="views-count"></strong></p>
                <p>동영상 수: <strong id="video-count"></strong></p>
                <div id="links-section">
                    <h3>링크</h3>
                    <div id="link-list" class="link-grid"></div>
                </div>
            </div>
        
            <!-- 최근 동영상 조회 결과 -->
            <div class="video-cards" id="recent-videos">
                {last_video_cards}
            </div>
        
            <!-- 영상 인기순 정렬 결과 -->
            <div class="custom-dropdown" id="popular-videos">
                <select id="sortCriteria" onchange="handleSortChange()">
                    <option value="date">기본</option>
                    <option value="trand">최근 트렌드</option>
                    <option value="views">조회수순</option>
                    <option value="likes">좋아요순</option>
                    <option value="comments">댓글순</option>
                    <option value="is-shorts">Only Shorts</option>
                </select>
            </div>
            <div class="video-cards" id="popular-videos-container">
                {video_cards}
            </div>
        </div>

        <!-- 로딩 스피너 -->
        <div id="loading-spinner" style="display: none;">
            <div class="spinner"></div>
        </div>
        
        <div id="loading" style="display: none; text-align: center;">
            <p>Loading...</p>
        </div>
        
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>


